/* Jackson Hagood | jacksonhagood.com */

/* fonts */

@font-face {
    font-family: Century;
    src: url("../Fonts/Century.ttf")
}

@font-face {
    font-family: Noto;
    src: url("../Fonts/NotoSans.ttf")
}

/* body */

body {
    margin: 0px;
    left: 0;
    right: 0;
    z-index: 1;
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    transform: scale(1.05); 
}

/* header & navigation */

header {
    background-color: #FFFFFF;
    border-bottom: solid 10px #8ABD91;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    /* position: fixed; */
    width: 70%;
    transition: 0.25s;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    top: 0;
}

.about {
    color: #222222;
    float: left;
    font-family: Century;
    padding: 0px 25px 0px 25px;
    text-decoration: none;
}

.navigation a {
    color: #222222;
    float: right;
    font-family: Century;
    padding: 0px 25px 0px 25px;
    text-decoration: none;
}

.navigation a:hover, .about:hover {
    filter: opacity(50%);
}

/* article */

article {
    background-color: #FFFFFF88;
    color: #013220;
    min-height: 100vh;
    margin: 25px 15% 25px 15%;
    padding: 0px 25px 0px 25px;
}

article p {
    font-family: Noto;
    font-size: 20px;
}

article h2 {
    font-family: Noto;
    font-size: 25px;
    
}

article h3 {
    font-family: Century;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}

article h3 a {
    color: #013220;
}

article img {
    pointer-events: none;
    width: 100%;
}

article li {
    font-family: Noto;
    font-size: 20px;
}

article hr {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}

article iframe {
    border: none;
}

article table {
    border-collapse: collapse;
    font-family: Noto;
    width: 100%;
}

article tr:hover td {
    background-color: #252525;
    color: #8ABD91;
}

article th {
    background-color: #252525;
    color: #8ABD91;
}

article td {
    background-color: #FFFFFF;
    color: #252525;
}

article td, article th {
    padding: 5px;
    text-align: left;
}

/* blocking */

.center {
    clear: both;
    padding: 25px 0px 25px 0px;
    width: 100%;
}

.left {
    float: left;
    overflow: hidden;
}

.right {
    float: right;
    overflow: hidden;
}

.half {
    width: 49%;
}

.onequarter {
    width: 24%;
}

.threequarters {
    width: 74%;
}

.onethird {
    width: 32%;
}

.twothirds {
    width: 66%;
}

/* page title */

.title {
    height: 200px;
    padding: 0px;
    margin: 20px 0px 20px 0px;
}

.title h1 {
    background-image: url("");
    background-size: cover;
    font-family: Century;
    font-size: 80px;
    font-weight: normal;
    line-height: 200px;
    margin: 0px;
    text-align: center; 
    width: 100%;
}

/* links section */

.links {
    float: left;
    width: 100%;
}

.links h1 {
    float: left;
    font-family: Century;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}

.links a {
    float: right;
    margin: 5px;
}

.links a:hover {
    filter: opacity(50%);
}

.links img {
    width: 50px;
}

/* slideshow */

.slideshow img {
    pointer-events: none;
    vertical-align: middle;
    width: 100%;
}

.slide {
    display: none;
}

.slideshow {
    color: #FFFFFF;
    margin: auto;
    position: relative;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    font-size: 64px;
    margin-top: -64px;
    padding: 32px;
    position: absolute;
    top: 50%;
    user-select: none;
    width: auto;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: #8ABD91;
}

.caption {
    bottom: 16px;
    cursor: default;
    font-family: Noto;
    font-size: 16px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.caption:hover {
    color: #FFFFFF;
}

.number {
    cursor: default;
    font-family: Noto;
    font-size: 16px;
    padding: 16px 16px;
    position: absolute;
    top: 0;
}

.number:hover {
    color: #FFFFFF;
}

/* image grid */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    box-sizing: border-box;
    -ms-flex: 33%;
    flex: 33%;
    max-width: 34%;
    padding: 0px 5px;
    
}

.column img {
    margin: 5px 0px;
    pointer-events: all;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* image */

.circle {
    border-radius: 50%;
}

/* pages */

.index:before {
    background-image: url("../Images/Plants.jpg");
}
